@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}



/* This is section is for styling Header. */

.header-section{
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
font-family: 'Roboto Serif', sans-serif;
color: black;
}

.logo{
    width: 4rem;
    margin: 0px 10px 0px 80px;
}

.nav-bar{
    margin: 10px 40px;

}


.nav-menu{
    text-decoration: none;
    padding: 10px;
}

.nav-menu:hover{
    color: #CFB290;
}

.banner{
    width: 100%;
    position: relative;
    top: -25rem;
    z-index: -1;
}

.main-heading{
    margin: 80px 80px 0 80px;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 4rem;
    width: 45%;
    color: #5e6061;
}

.desc{
    font-family: 'Roboto Serif', sans-serif;
    margin-left: 80px;
    padding-top: 30px;
    width: 30%;
    line-height: 30px;
}

.cta{
    margin-left: 80px;
    margin-top: 30px;
}